__pycache__
venv
build
dist
aiotg.egg-info
.cache
.eggs

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Must end with CRCR (^M^M in vim)
Icon


# Thumbnails
._*

### Temporary editor files ###
*~
*.swp
.venv

# Ignore vscode
.vscode